/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pattern-color-1: #3498db;  /* Define colors for the pattern */
  --pattern-color-2: #2ecc71;
  --pattern-line-color: rgba(255, 255, 255, 0.1); /* Color for the grid lines */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --pattern-color-1: #2980b9; /* Adjust colors for dark mode if needed */
    --pattern-color-2: #27ae60;
    --pattern-line-color: rgba(0, 0, 0, 0.1); /* Darker lines for dark mode */
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pattern-background {  /* New class for applying the pattern */
  background: linear-gradient(45deg, var(--pattern-color-1), var(--pattern-color-2));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  overflow: hidden; /* Ensure the grid lines don't overflow */
  width: 100%;
  margin: 0 auto; /* Center the div */
  min-height: 100vh; /* Ensure it takes up at least the full viewport height */
}


.pattern-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(90deg, var(--pattern-line-color) 1px, transparent 1px),
    linear-gradient(var(--pattern-line-color) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
}